[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
loguru = "*"
python-telegram-bot = {extras = ["job-queue"], version = "*"}
certifi = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
